* {margin: 0;padding: 0;}

body{font-family: 'Montserrat', sans-serif;}

#page {
    min-height: 200px;
    width: 60%;
    min-width: 600px;
    background: whitesmoke;
    margin: 50px auto;
    padding: 30px;
    color: #27aae1;
}



.photo {
    width: 15%;
    min-width: 130px;
    float: left;
    margin-right: 20px;
}

.contact-info-box {
    width: 70.9%;
    display: inline-block;
}

.name {
    margin-bottom: -5px;
}
.job-title {
    display: inline-block;
}

.contact-details {
    background: #27aae1;
    color: white;
    
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
}


#objective h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#objective p {
    padding: 0 5px;
    line-height: 25px;
    font-size: 14px;
    color: #000;
}

#education h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#education table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
}

#education table tr.school-1 td:first-child {
    width: 120px;
    color: gray;
    padding-bottom: 25px;
}

#education table tr.school-2 td:first-child {
    padding-bottom: 25px;
}

#work h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#work table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
}

#work table tr.work-1 td:first-child {
    width: 120px;
    color: gray;
    padding-bottom: 25px;
}

#work table tr.work-1 td {
    padding-bottom: 25px;
}

#work table tr.work-2 td:first-child {
    width: 120px;
    color: gray;
    
}
#work table tr.work-3 td:first-child {
    padding-top: 25px;
    width: 120px;
    color: gray;
}

#work table tr.work-3 td:last-child{
    padding-top: 25px;

    
}

#Projet h3{
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#Projet{
    padding: 10px;
}

#Projet ul li{
    color: black;
    list-style: inside;
    margin-top: 25px;
}

#Competences h3{
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#Competences h4{
    color: black;
    margin-top: 20px;
}

#Competences ul{
    padding: 10px;
    display: flex;
    list-style: none;
    
}

#Competences ul li{
    margin-top: 15px;
    margin-right: 30PX;
    color: grey;
}


#Hobbies h3{
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}


#Hobbies ul{
   
    list-style: circle;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


#Hobbies li{
    color: black;
    margin-right: 30px;
    margin-top: 10px;
}


form{
    max-width:400px;
	width:100%;
	margin:0 auto;
    background-color: rgba(201, 201, 201, 0.582);
    padding: 20px;
	position:relative;
}

form h1 {
    margin-bottom: 20px;
}

form h3{
    margin-bottom: 20px;
    color: #27aae1;
}
form p{
    margin: 10px 20px;
}


form textarea{
    margin-top: 20px;
    width: 90%;
    height: 150px;
  
	border:1px solid #CCC;
	background:#FFF;
	outline: none;
    font-size: 20px;
    padding: 20px;
}
input[type="radio"]:default + label {
	font-weight: bold;
}



 

form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
    margin-top: 20px;
}


